/* .container {
    width: 1100px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    outline: solid red;

<<<<<<< HEAD
} */
=======
}

.top-container {
    background: #FFB8CA;
}

.top-img {
    width: 199px;
height: 50px;
}

.hero-container {
    background: #FFB8CA;
}

>>>>>>> 53173775f99029ca908e40e1f20517d9daf9d8bd
