.container {
    width: 1100px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    outline: solid red;
 } 

 body {

 }

header {
   background-color: #FFB8CA;
}


.header-link {
   color: #FFF;
   font-family: DM Sans;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.header-link:hover {
   color: #D41443;
}

.header-button {
   border-radius: 22px;
   background: #FFF;
   width: 159px;
   height: 44px; 
   color: #D41443;
   text-align: center;
   font-family: DM Sans;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.hero {
   background-color: #FFB8CA;
}

.title-hero {
   color: #FFF;
   font-family: Titan One;
   font-size: 38px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 1.52px;
   text-transform: uppercase;
}

.subtitle-hero {
   color: #D41443;
   font-family: Titan One;
   font-size: 58px;
   font-style: normal;
   font-weight: 400;
   line-height: 90.5%;
   letter-spacing: 2.32px;
   text-transform: uppercase;
}

.products-hero {
   
   width: 102px;
   height: 40px;
   flex-direction: column;
   justify-content: center;
   color: #FFF;
   text-align: center;
   font-family: DM Sans;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   background-color: #D41443;
   border-radius: 20px;
}

.made-hero {
   color: #D41443;
   text-align: center;
   font-family: DM Sans;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   width: 138px;
   height: 40px;
   flex-direction: column;
   justify-content: center;
   border-radius: 20px;
}

.hero-decscription {
   color: #FFF;
   font-family: DM Sans;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 140%; /* 19.6px */
   width: 200px;
   height: 78px;
}

.hero-numbers {
   color: #D41443;
   text-align: right;
   font-family: Titan One;
   font-size: 46px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 1.84px;
   text-transform: uppercase;
}

.hero-decscriptions {
   color: #FFF;
   text-align: right;
   font-family: DM Sans;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.products-text {
   color: #FFA5BA;
   text-align: center;
   font-family: Titan One;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 1.2px;
   text-transform: uppercase;
}

.products-title {
   color: #D41443;
   text-align: center;
   font-family: Titan One;
   font-size: 58px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 3.48px;
   text-transform: uppercase;
}

.products-titles {
   color: #FFF;
   text-align: center;
   font-family: Titan One;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 1.2px;
   text-transform: uppercase;
}

.products-description {
   color: #FFF;
   text-align: center;
   font-family: DM Sans;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 176%; /* 28.16px */
   letter-spacing: 0.64px;
   width: 241px;
   height: 106px;
}

.products-point {
   color: #fff;
}

.traditions-subtitle {
   color: #FFA5BA;
   text-align: center;
   font-family: Titan One;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 1.2px;
   text-transform: uppercase;
}

.traditions-title {
   color: #D41443;
   text-align: center;
   font-family: Titan One;
   font-size: 58px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 3.48px;
   text-transform: uppercase;
}

.traditions-text {
   color: #000;
   font-family: DM Sans;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 176%; /* 28.16px */
   letter-spacing: 0.64px;
   width: 463px;
   height: 79px;
}

.traditions-subtext {
   color: #907E82;
   font-family: DM Sans;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 194%; /* 27.16px */
   letter-spacing: 0.56px;
   width: 463px;
   height: 155px;
}

.traditions-button {
   width: 176px;
   height: 44px;
   border-radius: 22px;
   background: #FFF;
   color: #D41443;

   text-align: center;
   font-family: DM Sans;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.traditions-number {
   color: #D41443;
   text-align: right;
   font-family: Titan One;
   font-size: 58px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 2.32px;
   text-transform: uppercase;
   width: 98px;
   height: 65px;
}

.traditions-text {
   width: 330px;
   height: 52px;
   color: #000;
   
   font-family: DM Sans;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 176%; 
   letter-spacing: 0.32px;
}

.response-text {
   color: #000;

   text-align: center;
   font-family: DM Sans;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 186%; /* 29.76px */
   letter-spacing: 0.64px;
}


.response-title {
  color: #000;

   text-align: center;
   font-family: DM Sans;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 186%; /* 37.2px */
   
}

.contacts-place {
   color: #FFF;
text-align: center;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 186%; /* 29.76px */
letter-spacing: 0.64px;
border-radius: 6px;
width: 73px;
height: 28px;
background: #F0D1A5;
}

.contacts-places {
   color: #FFF;
text-align: center;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 186%; /* 29.76px */
letter-spacing: 0.64px;
border-radius: 6px;
width: 138px;
height: 28px;
background: #C2E297;
}

.contact-text {
   color: #000;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 186%; /* 29.76px */
letter-spacing: 0.64px;
}

.contact-description {
   color: #907E82;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 183%; /* 29.28px */
letter-spacing: 0.64px;
}

.contact-time {
   color: #FFA5BA;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 186%; /* 29.76px */
}

.contact-link {
   color: #907E82;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 183%; /* 29.28px */
}

.contact-button {
   color: #FFF;
text-align: center;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.contact-buttons {
   color: #D41443;

text-align: center;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.footer-text{
   color: #FFA5BA;
font-family: Titan One;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.2px;
text-transform: uppercase;
}

.footer-title {
   color: #D41443;
font-family: Titan One;
font-size: 58px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 3.48px;
text-transform: uppercase;
}

.footer-link {
   color: #000;
   font-family: DM Sans;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 186%; /* 29.76px */
   letter-spacing: 0.32px;
}

.footer-sublink {
   color: #D41443;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 186%;
letter-spacing: 0.32px;
}

.footer-box {
   color: #D41443;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 186%;
letter-spacing: 0.32px;
}